* {
	box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #12110F;
	//font-family: 'Manrope Variable', sans-serif;
}

h1,h2,h3,h4,li {
    font-family: 'VT323', monospace;
    font-weight: normal;
    color: #F2E1CA;
}


a,p,text,label {
    font-family: 'VT323', monospace;
    padding-left: 10pt;
    color: #F2E1CA;
}

.box {
    align-items: center;
}
